html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', serif;
  overflow: scroll;
}

/* Sticky footer: https://css-tricks.com/couple-takes-sticky-footer/ */

#content {
  flex: 1 0 auto;
  margin: 5vw;/*
  margin-left: 2em;
  margin-right: 2em;*/
}

.navy {
  background-color: #004fad;
  color: white;
}
.navy a:hover {
  background-color: #042073;
}

.orange {
  background-color: #ff8533;
  /*background-color: #ffad66;*/
  color: black;
}
.orange a:hover {
  /*background-color: #ff7905;*/
  background-color: #e65c00;

}

a {
  color: inherit;
}

/* overwrite pure.css */

.custom-wrapper {
    /*background-color: #ffd390;*/
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 15em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    display: none;
}

.custom-toggle .bar {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pure-u-1 {
  background-color: inherit;
}

.pure-menu {
  background-color: inherit;
}

.pure-menu-list {
  background-color: inherit;
}

.pure-menu-link {
  color: inherit;
}

.pure-menu-link:hover {
  color: inherit;
}

.pure-menu-item {
  background-color: inherit;
}

.pure-menu-children {
  background-color: inherit;
}

.pure-menu-heading {
  background-color: inherit;
  color: inherit;
}

.pure-g {
  text-align: center;
}

.pure-g [class*=pure-u] {
  /*font-family: inherit;*/
  font-family: 'Roboto', serif;
}

.custom-brand {
  font-size: 1.5em;
  text-decoration: none;
  padding-left: 0.5em;
  display: inline-block;
  float: right;
}

@media (max-width: 47.999em) {
  .custom-wrapper {

    overflow: hidden;
  }

  .custom-menu-3 {
    text-align: left;
  }

  .custom-toggle {
    display: block;
  }

  .bar {
    /*background-color: #565d64;*/
    background-color: white;
  }
  .custom-brand {
    float: none;
  }

}

/* end of pure.css overwrite */


#header-logo {
  display: inline-block;
}

footer {

  padding-top: 3em;
  padding-bottom: 3em;
}

.socials {
  text-align: center;
  font-size: 2.5em;
}

b {
  font-family: 'Roboto Slab', serif;
}
